body {
  background: #333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:root {
  --uSize: 30px;
}

#score {
  font-size: 24px;
  line-height: 1.2;
  height: 50px;
  width: 130px;
  border-radius: 4px;
  border: 2px solid #f2f2f2;
  margin: 6px auto;
  color: #f2f2f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  margin: 16px auto;
  border: solid 4px #fff;
  width: calc(var(--uSize) * 10);
  height: calc(var(--uSize) * 14);
}
